@mixin responsive($size: 64em) {
  @media (width <= $size) {
    @content;
  }
}

@mixin flex(
  $direction: row,
  $align: center,
  $justify: center,
  $wrap: nowrap,
  $gap: 0
) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}
