:root {
  /* Colors */
  --c-primary: #199afc;
  --c-black: #0d0d0d;
  --c-grey: #222223;
  --c-white: #fff;
  --c-red: #ff0101;
  --c-grey-light: #353535;

  /* Fonts */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;

  /* Font Sizes */
  --font-s-small: 0.875rem;
  --font-s-default: 1rem;
  --font-s-large: 1.25rem;

  /* Font Weights */
  --font-w-regular: 400;
  --font-w-bold: 700;
  --font-w-light: 300;
}
